<!-- search bar -->
<div class="container search-bar">
    <div class="search-bar-outer">

        <div class="search-bar-inner grid">
            <h4 class="mb-2">尋找餐廳：</h4>
            <form action="/restaurants">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="輸入餐廳、分類"
                                aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
                            <div class="input-group-append">
                                <button class="btn btn-major" type="submit" id="search-button"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <select name="sort" class="form-select" aria-label="Default select example">
                            <option selected disabled>
                                排序方式
                            </option>
                            <option value="none" {{#if (equal sort 'none' )}}selected{{/if}}>無</option>
                            <option value="asc" {{#if (equal sort 'asc' )}}selected{{/if}}>A-Z</option>
                            <option value="desc" {{#if (equal sort 'desc' )}}selected{{/if}}>Z-A</option>
                            <option value="category" {{#if (equal sort 'category' )}}selected{{/if}}>類別</option>
                            <option value="location" {{#if (equal sort 'location' )}}selected{{/if}}>地區</option>
                            <option value="ratingASC" {{#if (equal sort 'ratingASC' )}}selected{{/if}}>評分低-高</option>
                            <option value="ratingDESC" {{#if (equal sort 'ratingDESC' )}}selected{{/if}}>評分高-低</option>
                        </select>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row row-cols-sm-3">
                <!-- restaurantDatas as |restaurantData|-->
                {{#each restaurantdatas }}
                <div class="text-secondary">
                    <div class="card mb-3">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                        <div class="card-body p-3">
                            <h6 class="card-title mb-1">{{this.name}}</h6>

                            <div class="restaurant-category mb-1">
                                <i class="fas fa-utensils pr-2"></i> {{this.category}}
                            </div>

                            <span class="badge rounded-pill bg-danger font-weight-normal">
                                {{this.rating}}
                                <i class="fas fa-star fa-xs"></i>
                            </span>

                        </div>

                        <div class="card-footer text-end">
                            <a href="/restaurants/{{this.id}}">Detail</a>
                            <a href="/restaurants/{{this.id}}/edit" style="margin-right: 3px;">Edit</a>
                            <form action="/restaurants/{{this.id}}/?_method=DELETE" method="POST"
                                style="display: inline;">
                                <button type="submit" class="btn btn-danger">delete</button>
                            </form>
                        </div>

                    </div>
                </div>



                {{/each}}
            </div>
        </div>
    </div>
</div>

<!-- 分頁 -->

<nav>
    <ul class="d-flex justify-content-center">
        <form action="/restaurants" method="GET" style="display: inline;">
            <input type="hidden" name="page" value="{{prev}}">
            <button type="submit" class="btn btn-primary">prev</button>
        </form>
        <span style="margin: auto 10px;">page: {{page}} / {{maxPage}}</span>
        <form action="/restaurants" method="GET" style="display: inline;">
            <input type="hidden" name="page" value="{{next}}">
            <button type="submit" class="btn btn-primary">next</button>
        </form>
    </ul>
</nav>